body {
    background-color: black !important;
    color: white;
    font-family: 'Arial', sans-serif;
}

.dclock {
    text-align: center;
}

.dclock h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
}

.dclock h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
}

.dclock h1 {
    font-size: 6rem;
    font-weight: bold;
    color: white;
}
